nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

nav .search {
    display: flex;
    gap: 10px; 
}

nav .search input,
nav .search button {
    padding: 5px 15px;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #898989;
    border-radius: 0.3em;
    color: var(--textColor);
    background-color: var(--bgColor);
}

nav .search input {
    min-width: 250px;
}

nav .search button {
    cursor: pointer;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: auto;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dimgray;
    padding: 0 30px;
    border-radius: 50px;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.action_btn {
    background-color: red;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.action_btn:hover {
    scale: 205%;
    color: black;

}

  